.profile {
    max-width: 500px;
    margin: 0 auto;
}

.profile-description h3 > img {
    width: 6em;
    margin: 2em 0 0 0;
}

.profile-description > p{
    color: black;
    font-size: 1.2em;
    line-height: 2em;
}

.ceo-name {
    margin: 2em 0;
}
.ceo-name > p {
    text-transform: uppercase;
    color: grey;
    font-size: 0.8em;
    margin: 0.5em 0;
}

@media only screen and (min-width: 750px){
    .profile {
        display: flex;
        flex-direction: row-reverse;
        max-width: 800px;
        margin: 0 auto;
    }

    .profile > * {
        flex: 1;
    }

    .profile-description {
        margin: 5em 3em 0;
    }

    .profile-description > h3 {
        margin-bottom: 1em;

    }

    .profile-description > h3 > img {
        margin: 0;
    }
}